.main-focus {
  color: white;
  margin: 0;
  font-size: 26px;
}

.main-focus-input {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 18px;
  width: 300px;
}

.main-focus-input:focus {
  background: transparent;
  outline: 0 none;
}
