.main_News {
  border: 1px solid black;
  background-color: rgba(1,1,1,0.1);
  padding: 5px;
  height: 40rem;
  box-shadow: 0 8px 16px 0 white, 0 6px 20px 0 white;
  border-radius: 8%;
  color: white;
  overflow: scroll;
  font-family: 'Federo', sans-serif;
}

a:link {
  text-decoration: none;
}

a {
  color: white;
}

.one_article {
  border: 1px solid white;
  border-radius: 8%;
  background-color: rgba(1,1,1,0.7);
}

img {
  border: 1px solid white;
}

