.main_PopularLinks {
  border: 1px solid black;
  background-color: rgba(1,1,1,0.1);
  padding: 5px;
  height: 40rem;
  box-shadow: 0 4px 8px 0 white, 0 3px 10px 0 white;
  /*border-radius: 8%;*/
  color: white;
  font-family: 'Federo', sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

