.main_Postit {
  border: 1px solid black;
  background-color: rgba(1,1,1,0.1);
  padding: 5px;
  height: 40rem;
  /*box-shadow: 0 4px 8px 0 white, 0 3px 10px 0 white;*/
  box-shadow:   1px 1px 0px  black,
                2px 2px 0px  black,
                3px 3px 0px  black,
                4px 4px 0px  black,
                5px 5px 0px  black,
                6px 6px 0px  black;
  /*border-radius: 8%;*/
  color: white;
  font-family: 'Federo', sans-serif;
  overflow: scroll;
}

.add_button {
  /*background-color: black;*/
}

.calendar {
  /*color: white;*/
}


.postit-input {
  /*color: black;*/
  width: 280px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 18px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

.postit-input:focus {
  background: transparent;
  outline: 0 none;
}

.each-note {
  font-size: 16px;
  border: 1px solid white;
  padding: 10px;
  width: 200px;
  background: rgba(1,1,1,0.3);
}

.all-notes {
  display: inline-block;
  margin: 0;
}
