.main_Todo {
  border: 1px solid black;
  background-color: rgba(1,1,1,0.1);
  padding: 5px;
  height: 28rem;
  box-shadow:   1px 1px 0px  black,
                2px 2px 0px  black,
                3px 3px 0px  black,
                4px 4px 0px  black,
                5px 5px 0px  black,
                6px 6px 0px  black;
  /*border-radius: 8%;*/
  color: white;
  font-family: 'Federo', sans-serif;
  overflow: scroll;
}

.add_button {
  border: 1px solid white;
}

.inputClass {
  /*color: black;*/
}

.dictionary-details {
  text-align: left;
}

.word-one-definition {
  margin-bottom: 10px;
  margin-right: 40px;
  margin-top: 10px;
  list-style-type: decimal;
}

.word-one-definition-details {
  padding: 10px;
  border: 1px solid white;
  background-color: rgba(1,1,1,0.3);
}

.word-keyword {
  font-size: 20px;
}

.word-preposition {
  font-size: 18px;
}

.word-definition {
  font-size: 16px;
}

.word-example {
  font-size: 16px;
}





