.main_Weather {
  border: 1px solid black;
  background-color: rgba(1,1,1,0.1);
  padding: 5px;
  height: 28rem;
  box-shadow:   1px 1px 0px  black,
                2px 2px 0px  black,
                3px 3px 0px  black,
                4px 4px 0px  black,
                5px 5px 0px  black,
                6px 6px 0px  black;
  /*border-radius: 8%;*/
  color: white;
  font-family: 'Federo', sans-serif;
  overflow: scroll;
}

.main_Weather::-webkit-scrollbar {
  width: 0.7em;
}

.main_Weather::-webkit-scrollbar-thumb {
  background-color: white;
}

/*animated weather icons*/
.currentTemp {
  display: inline;
  margin-left: 4rem;
  margin-right: 4rem;
  font-size: 30px;
}

.weather-input {
  /*color: black;*/
  width: 200px;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  font-size: 18px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}

.weather-input:focus {
  background: transparent;
  outline: 0 none;
}

.add_button {
  /*background-color: black;*/
}

ul {
  margin-top: 3rem;
}

ul > h3 {
  margin: 0;
}

ul > h3, .iconClass, .currentTemp {
  display: inline;
  margin: 0 1rem;
}

.iconClass {
  margin-left: 0;
  padding: 30px;
}

.details {
  margin-top: 3px;
  font-size: 16px;
}

.cityName {
  font-size: 30px;
}

.weather-current {
  margin-top: 10px;
}

.one-forecast-day{
  display: inline-block;
  border: 1px solid white;
  margin: 0 1px;
  width: 80px;
  height: 70px;
  /*overflow: scroll;*/
  background-color: rgba(1,1,1,0.3);
}

.all-forecast-day {
  margin-top: 10px;
}

.temp-min-max-forecast {
  font-size: 13px;
}

/*weather icons*/
.weather-icons {
  font-size: 22px;
}

.weather-icon-today {
  font-size: 30px;
}

.weather-today {
  border: 1px solid white;
}

.weather-summary {
  width: 100%;
  height: 30px;
  font-size: 18px;
  /*overflow: scroll;*/
}
